<span th:fragment="addReview" xmlns:th="http://www.thymeleaf.org">
    <form action="/registernewpet" method="POST">

        <!--  NOTE: USER AND PET PROFILE /GET MAPPINGS SHOULD PASS IN THE USER/PET'S ID AS PART OF THE MODEL.   -->
        <label for="target"></label> <input th:value="${target.id}" name="target" id="target" style="display:none" />

        <label for="rating">Rating (from 1 to 5): </label>
        <input name="rating" id="rating" type="number"/>

        <label for="bio">Bio:</label>
        <textarea name="bio" id="bio" placeholder="Describe your pet here!"></textarea>

        <input type="submit" />
    </form>
</span>
