<header class="navigation" th:fragment="navigation" xmlns:th="http://www.thymeleaf.org">
    <nav>
        <a class="home" href="/aboutpawpals">Paw Pals</a>
        <span class="nav-right">
            <a th:if="${p != null}" href="/users">View All Users</a>
            <a th:if="${p != null}" href="/pets">View All Pets</a>
            <a th:if="${p != null}" href="/myprofile" th:text="${p.name} + '\'s Profile'"></a>
            <a th:if="${p != null}" href="/logout">Log out</a>
            <a th:if="${p == null}" href="/login">Log In</a>
        </span>
    </nav>
</header>
