<header class="navigation" th:fragment="navigation" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav>
        <a class="home" href="/aboutpawpals">Paw Pals</a>

        <span class="nav-right">
            <a th:if="${p != null}" href="#" th:text="'Welcome, ' + ${p.name}"></a>
            <a th:if="${p != null}" href="/users">View All Users</a>
            <a th:if="${p != null}" href="/pets">View All Pets</a>
            <a th:if="${p != null}" href="/myprofile">My Profile</a>
            <a th:if="${p != null}" href="/logout">Log out</a>
            <a th:if="${p == null}" href="/login">Log In</a>
        </span>
    </nav>
</header>
