
<div class="petList" th:fragment= "petList" >
<ul th:each="pet : ${petList}" >
        <li> <img th:src="@{${pet.imgUrl}}"/></li>
        <li> <span th:text="${pet.name}"></span></li>
        <li> <span th:text="${pet.owner.username}"></span></li>
        <li> <span th:text="${pet.species}"></span></li>
        <li> <span th:text="${pet.breed}"></span></li>
        <li> <span th:text="${pet.age}"></span></li>
        <li> <span th:text="${pet.rating}"></span></li>
        <li> <span th:text="${pet.activity}"></span></li>
        <li> <span th:text="${pet.bio}"></span></li>
</ul>
</div>