img {
    width: 100%;
    max-width: 200px;
}

body {
    font-family: 'Noto Serif', serif;
    text-align: center;
}

.greeting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%
    margin: 15px;
    content 5px;
}

.aboutme {
    max-width: 30%
}

.aboutme p {
      border: 2px solid #ccc;
      background-color: #eee;
      border-radius: 10px;
      padding: 16px;
      margin: 16px 0;
}

h1,h2 {
    font-size: 2em;
}

p {
    font-size: 1em;
}