<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/aboutus.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paw Pals</title>
    <link rel="shortcut icon" type="image/x-icon" href="demi.ico" />

</head>
<body>
<div th:replace="fragment/HeaderFragment :: navigation">...</div>

<h1>Welcome to PawPals! </h1>

    <div class="mission">
        <p>Your home for pet socialization and happiness.</p>

        <h2>Our Mission</h2>
        <p> Here at the PawPals team we strive to connect people and pets for socialization and social networking in a positive and trusting matter.</p>
        <p> By Providing Pals with the ability to connect with other Pals we drive a sense of community and connectivity In the modern world our pets are with us day to day. Some animals such as dogs live much better lives through proper socialization and we strive to deliver that opportunity to our pals. </p>
        <p> As a growing community PawPals will strive to deliver the experience and opportunity for our Pals to connect, leave reviews and in the future, schedule and request playdates with other Pals and their animals. </p>
    </div>

    <div class="greeting">
        <div class="aboutme">
            <img src="images/chai.png">
            <p> I have a background in Aerospace,E-commerce and Casino management. I am looking to apply My new  development skills to use an innovative, user-centric approach to solve problems for others. I believes that problem solving should be organic, data-driven, and iterative. In my spare time, you'll find me Watching Cosmos, Cooking, spending time with my dog </p>
        </div>
        <div class="aboutme">
            <img src="images/peter.jpg">
            <p>I love to launch myself out of my bubble. The two greatest traits I value in a person are critical thinking and empathy. I'm getting a tattoo of the word 'indecisive', but I'm not sure where to put it. UPDATE: I got it on my left wrist!
                I'm new to the field of programming, and hungry to learn more. In a past life I was going to be a math teacher, and those experiences teaching have sharpened me as a learner. I spent 7 months last year training with the US Army, eating dirt and learning the secrets of network administration.</p>
        </div>
        <div class="aboutme">
            <img src="images/kent.jpg">
            <p> I have a background in customer relations and computer hardware repair. I love lamp. Also shrubbery. And dogs.  Especially dogs.</p>
        </div>
        <div class="aboutme">
            <img src="images/GB.jpg">
            <p>Tim comes from Seattle with a background as an Army officer as well as working in, Music, Management and Finance. He started coding from a passion for combining music, art, and technology. Finding that programming and software design can enhance one's artistic and technical expression. He enjoys the complicated technical challenges and puzzle solving involved in application production. </p>
        </div>
        <div class="aboutme">
            <img src="images/stephen.jpg">
            <p>I a leaf floating in the breeze of the airstream called "Lyfe".  I am also passionate about making code beep then boop, but never boop then beep. </p>
        </div>
    </div>
</body>
</html>
