<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paw Pals</title>
    <link rel="shortcut icon" type="image/x-icon" href="demi.ico" />

</head>
<body>
<div th:replace="fragment/HeaderFragment :: navigation">...</div>

<h1>Welcome to PawPals! </h1>

    <div class="greeting">
        <p>Welcome to Pawpals!</p>
        <p>Your home for pet socialization and happiness. ADD MORE CONTENT ABOUT MEETING/GREETING PETS</p>
        <div class="aboutme">
            <img src="images/chai.png">
            <p> I have a background in Aerospace,E-commerce and Casino management. I am looking to apply My new  development skills to use an innovative, user-centric approach to solve problems for others. I believes that problem solving should be organic, data-driven, and iterative. In my spare time, you'll find me Watching Cosmos, Cooking, spending time with my dog </p>
        </div>
        <div class="aboutme">
            <img src="images/peter.jpg">
            <p>I love to launch myself out of my bubble. The two greatest traits I value in a person are critical thinking and empathy. I'm getting a tattoo of the word 'indecisive', but I'm not sure where to put it. UPDATE: I got it on my left wrist!
                I'm new to the field of programming, and hungry to learn more. In a past life I was going to be a math teacher, and those experiences teaching have sharpened me as a learner. I spent 7 months last year training with the US Army, eating dirt and learning the secrets of network administration. I'm currently halfway through an 18 week code bootcamp at Code Fellows, learning object oriented programming in Java!
                I give a mean explanation of the Monty Hall problem. Born and raised in the PNW - naturally I love the rain. Experienced with customer service and with a mop. My passions include stories, games, puzzles, and horrible puns. </p>
        </div>
        <div class="aboutme">
            <img src="images/kent.jpg">
            <p>I love to launch myself out of my bubble. The two greatest traits I value in a person are critical thinking and empathy. I'm getting a tattoo of the word 'indecisive', but I'm not sure where to put it. UPDATE: I got it on my left wrist!
                I'm new to the field of programming, and hungry to learn more. In a past life I was going to be a math teacher, and those experiences teaching have sharpened me as a learner. I spent 7 months last year training with the US Army, eating dirt and learning the secrets of network administration. I'm currently halfway through an 18 week code bootcamp at Code Fellows, learning object oriented programming in Java!
                I give a mean explanation of the Monty Hall problem. Born and raised in the PNW - naturally I love the rain. Experienced with customer service and with a mop. My passions include stories, games, puzzles, and horrible puns. </p>
        </div>
        <div class="aboutme">
            <img src="images/GB.jpg">
            <p>Tim comes from Seattle with a background as an Army officer as well as working in, Music, Managment and Finance. He started coding from a passion for combining music, art, and technology. Finding that programming and software design can enhance one's artistic and technical expression. He enjoys the complicated technical challenges and puzzle solving involved in application production. </p>
        </div>
        <div class="aboutme">
            <img src="images/stephen.jpg">
            <p>I love to launch myself out of my bubble. The two greatest traits I value in a person are critical thinking and empathy. I'm getting a tattoo of the word 'indecisive', but I'm not sure where to put it. UPDATE: I got it on my left wrist!
                I'm new to the field of programming, and hungry to learn more. In a past life I was going to be a math teacher, and those experiences teaching have sharpened me as a learner. I spent 7 months last year training with the US Army, eating dirt and learning the secrets of network administration. I'm currently halfway through an 18 week code bootcamp at Code Fellows, learning object oriented programming in Java!
                I give a mean explanation of the Monty Hall problem. Born and raised in the PNW - naturally I love the rain. Experienced with customer service and with a mop. My passions include stories, games, puzzles, and horrible puns. </p>
        </div>
    </div>
</body>
</html>
