<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paw Pals</title>
    <link rel="shortcut icon" type="image/x-icon" href="demi.ico" />

</head>
<body class="loginBody">
    <div class="login">
        <div th:if="${p == null}" class="loginform">



            <h1>Welcome to PawPals! Please log into your PalProfile</h1>

            <form action="/login" method="POST">
                <input placeholder="     Username" name="username" id="username" />
                <input placeholder="Password" name="password" id="password" type="password"/>
                <input style="margin:30px 80px" type="submit" value="Log In, Pal" />
            </form>
        </div>

        <div th:if="${p != null}" class="loginform">
            <h1>You're already logged in, <span th:text="${p.name}"></span></h1>
        </div>

        <div th:if="${p == null}" class="greeting">
            <p><a th:href="@{/signup}" >Not a PawPal? Sign up here!</a></p>
        </div>
        <div th:replace="fragment/SignUpFragment :: aboutus">...</div>

    </div>
</body>
</html>
