<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paw Pals</title>
</head>
<body>
    <div class="imgcarousel"></div>

    <div class="login">
        <div th:if="${p == null}" class="loginform">
            <h1>Log in</h1>
            <form action="/login" method="POST">
                <label for="username">Username: </label><input name="username" id="username" />
                <label for="password">Password: </label><input name="password" id="password" />
                <input style="margin:30px 30px" type="submit" />
            </form>
        </div>
        <div th:if="${p != null}" class="greeting">
            <p>Welcome [[${p.name}]]</p>
            <p><a th:href="@{/myprofile}">Go to your profile</a></p>
            <p><a th:href="@{/logout}">Logout!</a></p>
        </div>
        <div th:if="${p == null}" class="greeting">
            <p><a th:href="@{/signup}" style="margin:30px 30px" >Not a member? Sign up here!</a></p>
        </div>
    </div>
</body>
</html>
