<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" type="image/x-icon" href="demi.ico" />
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>[[${user.username}]]'s Profile</title>
</head>
<body>
    <div th:replace="fragment/HeaderFragment :: navigation">...</div>

    <a th:href="@{/updateprofile}">Update Profile</a>
    <div th:replace="fragment/UserFragment::userprofile" class="userprofile" ></div>
    <div class="userprofile">
        <h3>My Pet List:</h3>
        <div th:if="${#lists.isEmpty(user.petList)}">
            <p>You have no animal friends</p>
        </div>
        <a th:href="@{/petcreation}">Add New Pet</a>
        <ul>
            <li th:each="pet: ${user.petList}">
                <a th:href="@{'/pets/' + ${pet.id}}"><img th:src="${pet.imgUrl}" alt="petavatar" class="petavatar" height="300px" /> <span th:text="${pet.name}"></span></a>
            </li>
        </ul>
    </div>
    <div class="userprofile">
        <h3>Reviews About Me:</h3>
        <ul>
            <div th:if="${#lists.isEmpty(user.reviewListAboutMe)}">
                <p>No reviews about you. Go on play dates!</p>
            </div>
            <div class="container" th:each="review: ${user.reviewListAboutMe}">
                <p><b><span th:text="${review.author.firstName} + ' ' + ${review.author.lastName}" ></span></b> says:</p>
                <p th:text="${review.body} + ' ~ ' +  ${review.rating} + ' stars out of 5.'"></p>
            </div>
        </ul>
    </div>
    <div class="userprofile">
        <h3>Reviews You've Written:</h3>
        <ul>
            <div th:if="${#lists.isEmpty(user.reviewsListAuthored)}">
                <p>You haven't left any reviews!</p>
            </div>

            <div class="container" th:each="review: ${user.reviewsListAuthored}">
                <p><b><span th:text="'You said about ' + ${review.targetName}" ></span></b>:</p>
                <p th:text="${review.body} + ' ~ ' +  ${review.rating} + ' stars out of 5.'"></p>
            </div>
        </ul>
    </div>
</body>
</html>
