<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>My Paw Pals Profile</title>
</head>
<body>
    <div th:replace="fragment/UserFragment::userprofile"></div>
    <div class="scheduler">
        <p>My Current Schedule</p>
    </div>
    <div>
        <p>My Pet List:</p>
        <div th:if="${#lists.isEmpty(user.petList)}">
            <p>You have no animal friends</p>
        </div>
        <ul>
            <li th:each="pet: ${user.petList}">
                <a th:href="@{'/pets/' + ${pet.id}}"><img th:src="${pet.imgUrl}" alt="petavatar" class="petavatar" /> <span th:text="${pet.name}"></span></a>
            </li>
        </ul>
    </div>
    <div>
        <p>Reviews About Me:</p>
        <div th:if="${#lists.isEmpty(user.reviewListAboutMe)}">
            <p>No reviews about you. Go on play dates!</p>
        </div>
        <ul>
            <li th:each="review: ${user.reviewListAboutMe}">
                <p th:text="${review.rating}"></p>
                <p th:text="${review.body}"></p>
                <p th:text="${review.author}"></p>
            </li>
        </ul>
    </div>
    <div>
        <p>Reviews By You:</p>
        <div th:if="${#lists.isEmpty(user.reviewsListAuthored)}">
            <p>You haven't done any reviews!</p>
        </div>
        <ul>
            <li th:each="review: ${user.reviewsListAuthored}">
                <p th:text="${review.rating}"></p>
                <p th:text="${review.body}"></p>
                <p th:text="${review.author}"></p>
            </li>
        </ul>
    </div>
</body>
</html>
