<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">

    <title>Title</title>
</head>
<body>
<div th:replace="fragment/HeaderFragment :: navigation">...</div>

<h1>Add a Pet!</h1>
<form action="/registernewpet" method="POST">
    <label for="name">Pet's Name: </label>
    <input name="name" id="name" />

    <label for="species">Species: </label>
    <select name="species" id="species">
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="fish">Fish</option>
        <option value="bird">Bird</option>
    </select>

    <label for="breed">Breed: </label>
    <input name="breed" id="breed" />

    <label for="age">Age: </label>
    <input name="age" id="age" type="number"/>

    <label for="activity">Activity level (from 1 to 5): </label>
    <input name="activity" id="activity" type="number"/>

    <label for="size">Size: </label>
    <select name="size" id="size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select>

    <label for="imgUrl">Profile Picture URL: </label>
    <input name="imgUrl" id="imgUrl" />

    <label for="bio">Bio:</label>
    <textarea name="bio" id="bio" placeholder="Describe your pet here!"></textarea>

    <input type="submit" />
</form>
</body>
</html>