<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add a Pet</title>
    <link rel="shortcut icon" type="image/x-icon" href="demi.ico" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="petbody">
<div th:replace="fragment/HeaderFragment :: navigation">...</div>
<h1>Add a Pet!</h1>
<form action="/registernewpet" method="POST">
    <label for="species">Species: </label>
    <select  name="species" id="species">
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="fish">Fish</option>
        <option value="bird">Bird</option>
    </select>
    <label for="size">Size: </label>
    <select name="size" id="size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select>
    <input  placeholder="Pet's Name:" name="name" id="name" />
    <input placeholder="Breed:" name="breed" id="breed" />
    <input placeholder="Pet's Age:" name="age" id="age" type="number"/>
    <input placeholder="Activity level (from 1 to 5):" name="activity" id="activity" type="number"/>
    <input placeholder="Image URL:" name="imgUrl" id="imgUrl" />
    <input name="bio" id="bio" placeholder="Describe your pet here!"></input>
    <input type="submit" />
</form>
</body>
</html>