<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="demi.ico" />
    <title>Paw Pals Pet List</title>
</head>
<body>
    <div th:replace="fragment/HeaderFragment :: navigation">...</div>
    <h1>List of all Paw Pals:</h1>
    <ul>
        <li th:each="pet: ${pets}">
            <a th:href="@{'/pets/' + ${pet.id}}">
                <img th:src="${pet.imgUrl}" alt="petavatar" class="petavatar" />
                <p th:text="${pet.name}"></p>
            </a>
            <a th:if="${pet.owner.username == p.name}" th:href="@{/myprofile}">
                <img th:src="${pet.owner.imgUrl}" alt="useravatar" class="useravatar" />
                <p th:text="${pet.owner.username}"></p>
            </a>
            <a th:if="${pet.owner.username != p.name}" th:href="@{'/users/' + ${pet.owner.id}}">
                <img th:src="${pet.owner.imgUrl}" alt="useravatar" class="useravatar" />
                <p th:text="${pet.owner.username}"></p>
            </a>
        </li>
    </ul>
</body>
</html>