<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Paw Pals Pets</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="demi.ico" />
</head>
<body>
<div th:replace="fragment/HeaderFragment :: navigation">...</div>

<div>
    <ul>
        <li> <img th:src="@{${target.imgUrl}}"/></li>
        <p>Name: <span th:text="${target.name}"></span></p>
        <p>Owner: <span th:text="${target.owner.username}"></span></p>
        <p>Species: <span th:text="${target.species}"></span></p>
        <p>Breed: <span th:text="${target.breed}"></span></p>
        <p>Age: <span th:text="${target.age}"></span></p>
        <p>Rating: <span th:text="${target.rating}"></span></p>
        <p>Activity Level: <span th:text="${target.activity}"></span></p>
        <p>Biography: <span th:text="${target.bio}"></span></p>

        <span th:if="${target.owner.username == principal.name}">
            <a th:href="@{'/delete/' + ${target.id}}">Delete</a>
        </span>

    </ul>
</div>

<span th:if="${target.owner.username != principal.name}">
    <div th:replace="fragment/ReviewFragment::addReview"></div>
</span>

<div>
    <p>Reviews About [[${target.name}]]:</p>
    <ul>
        <div class="container" th:each="review: ${target.reviewListAboutMe}">
            <p th:text="${review.author.firstName} + ' ' + ${review.author.lastName} + ' says:'"></p>
            <p th:text="${review.body} + ' ~ ' +  ${review.rating} + ' stars out of 5.'"></p>
        </div>
    </ul>
</div>
</body>
</html>