<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Paw Pals Pets</title>
    <link rel="shortcut icon" type="image/x-icon" href="demi.ico" />
</head>
<body>
<div th:replace="fragment/HeaderFragment :: navigation">...</div>

<div>
    <ul>
        <li> <img th:src="@{${target.imgUrl}}"/></li>
        <li> <span th:text="${target.name}"></span></li>
        <li> <span th:text="${target.owner.username}"></span></li>
        <li> <span th:text="${target.species}"></span></li>
        <li> <span th:text="${target.breed}"></span></li>
        <li> <span th:text="${target.age}"></span></li>
        <li> <span th:text="${target.rating}"></span></li>
        <li> <span th:text="${target.activity}"></span></li>
        <li> <span th:text="${target.bio}"></span></li>
        <li> <a th:href="@{'/delete/' + ${target.id}}">Delete</a> </li>
    </ul>
    <div th:replace="fragment/ReviewFragment::addReview">
</div>
</body>
</html>