<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
<link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pawpals Sign Up</title>
</head>
<body>
    <h1>Pawpals New User form</h1>
    <form action="/createnewuser" method="POST">
        <label for="username">Username: </label><input name="username" id="username" />
        <label for="password">Password: </label><input name="password" id="password" />
        <label for="firstName">First Name: </label><input name="firstName" id="firstName" />
        <label for="lastName">Last Name: </label><input name="lastName" id="lastName" />
        <label for="phoneNumber">Phone Number: </label><input name="phoneNumber" id="phoneNumber" />
        <label for="activity">Select Your Activity Level from 1-10: </label><input type="number" name="activity" id="activity" />
        <label for="bio">Bio: </label><input name="bio" id="bio" />
        <label for="imgUrl">Profile Photo Url: </label><input name="imgUrl" id="imgUrl" />
        <input type="submit" />
    </form>
</body>
</html>
