<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Paw Pals User Info</title>
    <link rel="shortcut icon" type="image/x-icon" href="demi.ico" />
</head>
<body>
<div th:replace="fragment/HeaderFragment :: navigation">...</div>

    <div>
        <ul>
            <li> <img th:src="@{${target.imgUrl}}"/></li>
            <li> <span th:text="${target.username}"></span></li>
            <li> <span th:text="${target.firstName}"></span></li>
            <li> <span th:text="${target.lastName}"></span></li>
            <li> <span th:text="${target.phoneNumber}"></span></li>
            <li> <span th:text="${target.activity}"></span></li>
            <li> <span th:text="${target.rating}"></span></li>
            <li> <span th:text="${target.bio}"></span></li>
        </ul>
        <div th:replace="fragment/ReviewFragment::addReview"></div>
    </div>
</body>
</html>
