<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="demi.ico" />
    <title>[[${target.username}]]'s Profile</title>
</head>
<body>
    <div th:replace="fragment/HeaderFragment :: navigation">...</div>
    <div th:replace="fragment/UserFragment::userprofile"></div>
    <div class="userprofile">
        <h3>Pet List:</h3>
        <ul>
            <li th:each="pet: ${target.petList}">
                <a th:href="@{'/pets/' + ${pet.id}}"><img th:src="${pet.imgUrl}" alt="petavatar" class="petavatar" height="300px" /> <span th:text="${pet.name}"></span></a>
            </li>
        </ul>
    </div>
    <div class="userprofile">
        <h3>Reviews About [[${target.username}]]:</h3>
        <ul>
            <div class="container" th:each="review: ${target.reviewListAboutMe}">
                <p><b><span th:text="${review.author.firstName} + ' ' + ${review.author.lastName}" ></span></b> says:</p>
                <p th:text="${review.body} + ' ~ ' +  ${review.rating} + ' stars out of 5.'"></p>
            </div>
        </ul>
    </div>
    <div class="userprofile">
        <h3>Reviews By [[${target.username}]]:</h3>
        <ul>
            <div class="container" th:each="review: ${target.reviewsListAuthored}">
                <p><b><span th:text="${target.firstName}"></span></b> said about <b><span th:text="${review.targetName}" ></span></b>:</p>
                <p th:text="${review.body} + ' ~ ' +  ${review.rating} + ' stars out of 5.'"></p>
            </div>
        </ul>
    </div>
    <div th:replace="fragment/ReviewFragment::addReview"></div>
</body>
</html>
